---
import Layout from "../layouts/Layout.astro";
import Header from '../components/Header.astro';



const { cookies, redirect } = Astro;


const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");



if (accessToken && refreshToken) {
  return redirect("/dashboard");
}
---

<Layout title="Sign in">
  <Header />

  <h2>Sign in</h2>
  <p>New here? <a href="/register">Create an account</a></p>

  <form action="/api/auth/signin" method="post">
    <div style="padding-top:10px">
      <div>
        <label for="email" style="margin:15px">Email</label>
        <input type="email" name="email" id="email" />
    
    
    
      </div>
      <div style="padding-top:15px">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
    
    
      </div>
      <div style="padding-top:20px">
        <button type="submit">Login</button>
      </div>

    </div>
    
    
    
  </form>
</Layout>
<style>
  button {
     margin-left: 10px;
     padding: 5px 24px;
     background-color: #b978de;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
   }
 
   
 </style>